<form class="new-question" action="/questions" method="post">
  <input type="text" name="question[title]" placeholder="title"><br><br>

  <textarea rows="4" cols="50" name="question[content]" placeholder="Give more detail here..."></textarea><br><br>

  <input class="waves-effect waves-green btn-flat" type="submit" value="Submit">
</form>
