<form class="new-question" action="/questions" method="post">
  <input type="text" name="question[title]" placeholder="title"><br><br>

  <textarea rows="4" cols="50" name="question[content]" placeholder="Ask your question"></textarea><br><br>

  <input type="submit" value="Submit">
</form>
