<h1>Edit question: <%= @question.title %> </h1>
<form class="edit-question" action="/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="question[title]" placeholder="<%= @question.title %>"><br><br>
  <textarea name="question[content]"><%= @question.content %></textarea><br><br>
  <input type="submit" value="Submit">
</form>
