<h1> All questions </h1>
  <% if logged_in? %>
    <a class="ask-question" href="/questions/new">Ask a question</a>
    <%= erb :'/questions/_new_question' %>
  <% else %>
    <p>
      Please log in or register to ask a question
    </p>
  <% end %>
<ul>
  <% @questions.each do |question| %>
  <li><a href="/questions/<%= question.id %>">
      <%= question.title %></a> by <%= question.user.username%>
  </li>
  <% end %>
</ul>
