<div class="container">

  <h1> All questions </h1>
    <% if logged_in? %>
    <button class="ask-question waves-effect waves-green btn-flat" action="/questions/new">Ask a question</button>
      <%= erb :'/questions/_new_question' %>
    <% else %>
      <p>
        Please log in or register to ask a question
      </p>
    <% end %>
  <ul>
    <% @questions.each do |question| %>
    <li><a href="/questions/<%= question.id %>">
        <%= question.title %></a> by <%= question.user.username%>
    </li>
    <% end %>
  </ul>
</div>
