<div class="container main-page">

  <h1> All questions </h1>
    <% if logged_in? %>
    <div class="new-question-ajax">
      <a class="ask-question" href="/questions/new">Ask a question</a>
      <%= erb :'/questions/_new_question' %>
    </div>
    <% else %>
      <p>
        Please log in or register to ask a question
      </p>
    <% end %>
  <ul class="question-list">
    <% @questions.sort_by {|question| question.updated_at }.reverse.each do |question| %>
    <li class="question-title"><a href="/questions/<%= question.id %>">
        <%= question.title %></a> by <%= question.user.username%><br></br>
    </li>
    <% end %>
  </ul>
</div>
