<div class="container">

  <h1>Comment on: <%= @question.title %></h1>

  <%= erb :'_errors' %>

  <form class="col s12" action="/questions/<%= @question.id %>/comments" method="post">
    <div class="row">
      <div class="col s6">
        <textarea rows="4" cols="50" name="content" placeholder="Your comment"></textarea>
      </div>
    </div>
    <input class="waves-effect waves-green btn-flat" type="submit" value="Comment">
  </form>
</div>
